.keypad-cont {
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 1px solid #000;
  background: blue;
}

.btn-cont-keypad {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}

.btn-keypad {
  width: 120px;
  height: 100px;
  border: gray;
  border-radius: 30px;
  cursor: pointer;
}
