.keypad-cont {
  width: 1400px;
  height: 70vh;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.btn-cont-keypad {
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-keypad {
  width: 120px;
  height: 100px;
  border: gray;
  border-radius: 30px;
  cursor: pointer;
  font-size: 3rem;
}
