@import "./components/header/Header.css";
@import "./components/display/Display.css";
@import "./components/keypad/Keypad.css";
@import "./components/history/History.css";
@import "./App.css";
@import "./components/display-keypad/DisplayKetpad.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
